<div class="col-md-8 col-md-offset-2">
   <div class="formulario d-flex">
      <label>Remuneración: </label>
      <!--Inputs destinado a outputs-->
      <input 
      *ngIf="!InputRemuneracion"
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idRemuneracionModificable" 
      aria-describedby="basic-addon3">

      <!--Input destinado a texto no modificable-->
      <input
      *ngIf="InputRemuneracion"
      disabled
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idRemuneracionNoModificable" 
      aria-describedby="basic-addon3"
      placeholder="{{InputRemuneracion}} ARS"> 
   </div>
</div>
   