<div class="col-md-8 col-md-offset-2">
   <div class="formulario d-flex">
      <label>Sucursal: </label>
      <!--Inputs destinado a outputs-->
      <input 
      *ngIf="!InputSucursal"
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idSucursalModificable" 
      aria-describedby="basic-addon3">

      <!--Input destinado a texto no modificable-->
      <input
      *ngIf="InputSucursal"
      disabled
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      aria-describedby="basic-addon3"
      placeholder="{{InputSucursal}}"> 
   </div>
</div>