 input{
  margin-left: 10px;
  width: 250px;
  margin-top: 5px;
 }
 form label{
  padding-top: 8px;
}

form{
  display: flex;
}

button{
  background-color: #4D67B7;
  color: #ffffff;
  font-family: sans-serif;
  font-size: large;
  border-radius: 5px;
  border-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left:25px;
}
