<div *ngIf="verTabla" class="container container-table table-responsive">
   <table class="table table-striped table-hover">
      <thead>
         <tr>
            <th scope="col">Fecha solicitud</th>
            <th scope="col">Legajo</th>
            <th scope="col">Alumno</th>
            <th scope="col">Empresa</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
         </tr>
      </thead>
      <tbody>
        <tr class="tr-main-table" *ngFor="let p of InputPedidos | paginate: { itemsPerPage: 10, currentPage: pageActual}" >
         <td>{{p.fecha_solicitud | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
         <td>{{p.alumno.legajo}}</td>
         <td>{{p.alumno.nombre}} {{p.alumno.apellido}}</td>
         <td>{{p.formularioarm.sucursal.nombre_sucursal}}</td>
         <td>{{p.estadoarmxalumno.nombre}}</td>
         <td class="button-container">
            <button type="button" class="icono btn btn-success" (click)="aceptarPedido(p)">
               <i class="far fa-check-circle"></i>
            </button>
            <button type="button" class="icono btn btn-danger" (click)="rechazarSolicitud(p)">
               <i class="far fa-times-circle"></i>
            </button>
            <button type="button" class="icono btn btn-info" (click)="verInfoPedido(p)">
               <i class="fas fa-clipboard-list"></i>
            </button>
         </td>
      </tr>
      </tbody>
   </table>
   <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

   <!-- Modal para notificar envío de solicitud-->
   <div id="modal-aceptar" class="modalDialog">
      <div class="title-container">
         <h4><i class="far fa-envelope"></i>Solicitud aceptada</h4>
      <br>
         <p>Se ha enviado un mail a la empresa y al alumno para notificarles la situación.</p>
         <button>
            <a id="a-ok" href="">Ok</a>
         </button>
      </div>
   </div>

</div>

<!-- Denegación de solicitud-->
<div *ngIf="inputComentarios" class="container container-sm">
   <app-comentarios
   (OutputComentarios)="receiveComentarios($event)">
   </app-comentarios>
   <button class="btn-comun" (click)="confirmar()">
      <i class="far fa-check-circle"></i>  Confirmar
   </button>
   <button class="btn-comun" (click)="volver()">
      <i class="far fa-times-circle"></i>  Cancelar
   </button>
</div>

<!--Info de la solicitud-->
<div *ngIf="verInfoSolicitud" class="container container-table table-responsive">
   <table class="table">
      <thead>
      <h5 class="text-center">Datos del alumno</h5>
      </thead>
      <tbody>
         <tr>
            <td><strong class="descripcion">Nombre y apellido: </strong>
            {{solicitud.alumno.nombre}} {{solicitud.alumno.apellido}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Legajo:     </strong>
               {{solicitud.alumno.legajo}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Carrera:     </strong>
               {{solicitud.alumno.especialidad.nombre}}</td>
         </tr>
      </tbody>
   </table>

   <table class="table">
      <thead>
      <h5 class="text-center">Datos de la pasantía</h5>
      </thead>
      <tbody>
         <tr>
            <td><strong class="descripcion">Razón social: </strong>
            {{solicitud.formularioarm.sucursal.nombre_sucursal}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Sucursal:   </strong>
               {{solicitud.formularioarm.sucursal.nombre_sucursal}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Año de cursado solicitado:   </strong>
               {{solicitud.formularioarm.id_cantidadAnios}}° año</td>
         </tr> 
         <tr>
            <td><strong class="descripcion">Experiencia requerida:   </strong>
               {{solicitud.formularioarm.experencia}}° año</td>
         </tr> 
         <tr>
            <td><strong class="descripcion">Cargo a cubrir:   </strong>
               {{solicitud.formularioarm.cargoACubrir}}</td>
         </tr> 
         <tr>
            <td><strong class="descripcion">Fecha fin de búsqueda:   </strong>
               {{solicitud.formularioarm.fechaBaja | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
         </tr>
         <tr>
            <button type="button" class="justify-content-center back-button" (click)="volverDesdeInfo()">
               <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
            </button>
         </tr>
      </tbody>
   </table>
</div>