<div *ngIf="verTabla" class="container container-table table-responsive">
   <table class="table table-striped table-hover">
      <thead>
         <tr>
            <th scope="col">Fecha solicitud</th>
            <th scope="col">Legajo</th>
            <th scope="col">Alumno</th>
            <th scope="col">Empresa</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
         </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of InputPedidos | paginate: { itemsPerPage: 10, currentPage: pageActual}" >
         <td>{{p.fecha_solicitud | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
         <td>{{p.legajo_alumno}}</td>
         <td>nombre</td>
         <td>{{p.id_formularioArm}}</td>
         <td>{{p.id_estado}}</td>
         <td>
            <button type="button" class="icono btn btn-success" (click)="aceptarPedido()">
               <i class="far fa-check-circle"></i>
            </button>
            <button type="button" class="icono btn btn-danger" (click)="rechazarSolicitud()">
               <i class="far fa-times-circle"></i>
            </button>
            <button type="button" class="icono btn-comun btn btn-primary" (click)="verInfoPedido(p)">
               <i class="fas fa-clipboard-list"></i>
            </button>
         </td>
      </tr>
      </tbody>
   </table>
   <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>

<!--Notificacion de solicitud aceptada-->
<!--
<div *ngIf="notificacionEnviada" class="alerta alert alert-primary" role="alert">
   Se ha notificado a los interesados.
</div>
-->

<!-- Denegación de solicitud-->
<div *ngIf="inputComentarios" class="container container-sm">
<app-comentarios
(OutputComentarios)="receiveComentarios($event)">
</app-comentarios>
<button class="btn-comun" (click)="confirmar()">
   <i class="far fa-check-circle"></i>  Confirmar
</button>
<button class="btn-comun" (click)="volver()">
   <i class="far fa-times-circle"></i>  Cancelar
</button>
</div>

<!--Info de la solicitud-->
<div *ngIf="verInfoSolicitud" class="container container-table table-responsive">
   <table class="table">
      <thead>
      <h5 class="text-center text-capitalize">Datos del alumno</h5>
      </thead>
      <tbody>
         <tr>
            <td><strong class="descripcion">Nombre y apellido: </strong>
            {{solicitud.legajo_alumno}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Año cursado:   </strong>
            ----</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Especialidad:   </strong>
            ----</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Legajo:     </strong>
            ----</td>
         </tr>
      </tbody>
   </table>

   <table class="table">
      <thead>
      <h5 class="text-center text-capitalize">Datos de la empresa</h5>
      </thead>
      <tbody>
         <tr>
            <td><strong class="descripcion">Razón social: </strong>
            ----</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Sucursal:   </strong>
            ------</td>
         </tr>
         <tr>
            <button type="button" class="justify-content-center" (click)="volverDesdeInfo()">
               <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
            </button>
         </tr>
      </tbody>
   </table>
</div>