<div *ngIf="verPasantias" class="container container-table table-responsive">
   <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Fecha búsqueda</th>
          <th scope="col">Empresa</th>
          <th scope="col">Perfil</th>
          <th scope="col">Cargo a cubrir</th>
          <th scope="col">Fin búsqueda</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pas of InputPasantias | paginate: { itemsPerPage: 10, currentPage: pageActual}" >
          <td>{{pas.formularioarm.fehcaAlta | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
          <td>{{pas.formularioarm.sucursal.nombre_sucursal}}</td>
          <td>{{pas.formularioarm.perfilSolicitado}}</td>
          <td>{{pas.formularioarm.cargoACubrir}}</td>
          <td>{{pas.formularioarm.fechaBaja | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
          <td>
            <a routerLink="" (click)="verDatosPasantia(pas)">
               <i class="fas fa-plus-square"></i> Info
            </a>
          </td>
          <td>
            <a routerLink="" (click)="solicitarPedidoPasantia()">
               <i class="fas fa-user-tie"></i>Postularse
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>

<!--Datos de pasantía seleccionada-->

<div *ngIf="verInfoPasantia" class="container container-table table-responsive">
   <table class="table">
      <thead>
        <h3 class="text-center text-capitalize">Datos</h3>
      </thead>
      <tbody>
         <tr>
            <td><strong class="descripcion">Perfil solicitado: </strong>
            {{item.perfilSolicitado}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Área de desempeño:   </strong>
            {{item.lugarTrabajo}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Cantidad de pasantes:   </strong>
            {{item.cantidadPasantes}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Conocimientos requeridos:     </strong>
            {{item.otrosConocimientos}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Experiencia:  </strong>
            {{item.experencia}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Duración de la pasantía:</strong>
            {{item.duracionMeses}} meses</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Alumno/a regular en:</strong>
            {{item.id_cantidadAnios}} año</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Se ofrece: </strong>
            {{item.seOfrece}}</td>
         </tr>
         <tr>
            <td><strong class="descripcion">Enviar CV a: </strong>
            {{item.email}}</td>
         </tr>
         <tr>
            <button class="justify-content-center" (click)="volver()">
               <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
            </button>
         </tr>
      </tbody>
    </table>
</div>

