.container-table{
   margin-top: 25px;
   background-color: #ffffff;
   padding-left: 0px;
   padding-right: 0px;
  }

  .container {
   margin-top: 0px;
   border-radius: 5px;
   background-color: #ffffff;
 }

thead{
  background-color: #4D67B7;
  color: #ffffff;
  text-align: center;
}

.datos{
  padding-left: 10px;
}

.descripcion{
  padding-right: 7px;
}

button{
  /*background-color: #4D67B7;
  color: #ffffff;*/
  font-family: sans-serif;
  font-size: large;
  border-radius: 5px;
  border-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left:25px;
}

.icono{
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-comun{
  background-color: #4D67B7;
  color: #ffffff;
  /*padding-top: 2px;
  padding-bottom: 6px;*/
}

.alerta{
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 50px;
  font-size: larger;
  text-align: center;
}

a{
  padding-left: 4px;
}

@media only screen and (max-width: 600px) and (min-width: 450px){
  .table{
    font-size: smaller;
  }
  .container-table{
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .table{
    margin-left: 0px;
    margin-right: 0px;
    font-size: smaller;
    
  }
}