<!--
<form>
   <label>Especialidad:</label>
   <input type="text" 
   disabled 
   class="float-right form-control custom-select-sm" 
   aria-describedby="emailHelp" 
   placeholder="{{InputEspecialidad}}">
</form>

-->


<div class="col-md-8 col-md-offset-2">
   <div class="formulario d-flex">
      <label>Especialidad:</label>
      <input type="text" 
      disabled 
      class="ml-auto form-control custom-select-sm" 
      aria-describedby="emailHelp" 
      placeholder="{{InputEspecialidad}}">
   </div>
</div>
   


