<body>
   <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/home">Pasantías FRC</a>
         <!--
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
               <a class="nav-link disabled" href="#">Login</a>
               </li>
               <li class="nav-item">
               <a class="nav-link disabled" href="#">Registrar empresa</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#" (click)="mostrarTabla()">Pasantías activas</a>
               </li>
            </ul>
         </div>
         -->
         </nav>
   </div>

   <div *ngIf="inicio">
      <!--Filtros de búsqueda-->
      <div class="container container-sm">
         <h2 class="container-title">Pasantías activas</h2>
         <form class="busqueda form-sm">
            <div class="col-sm-4 col-md-4">
               <app-especialidades (OutputEspecialidad)="receiveEspecialidad($event)"></app-especialidades>
            </div>
            <div class="col-sm-4 col-md-4">
               <app-anio-alumno (OutputAnio)="receiveAnioCursado($event)"></app-anio-alumno>
            </div>
            <div class="col-sm-4 col-md-4">
               <app-remuneracion (OutputRemuneracion)="receiveRemuneracion($event)"></app-remuneracion>
            </div>
         </form>
      </div>
<!--Tabla pasantías-->
      <div *ngIf="sinPasantiasActivas" class="sinDatos alert alert-warning" role="alert">
         Lo sentimos, no hay pasantías activas en este momento.
      </div>
   </div>
   <div>
      <div *ngIf="inicio && !sinPasantiasActivas" class="container busqueda">
         <app-palabras-clave (OutputPalabra)="receivePalabrasClave($event)"></app-palabras-clave>   
      </div>
      <app-lista-pasantias *ngIf="!sinPasantiasActivas && verTabla"
      [InputPasantias]="pasantias"
      (OutputDatos)="receiveNotificacion($event)"
      (OutputSolicitud)="receiveNotificacionSolicitud($event)"
      (OutputPasantia)="receivePasantia($event)">
      </app-lista-pasantias>
   </div>

   <!--Solicitud de legajo para registrar pasantías-->
   <div class="container container-sm" *ngIf="solicitarLegajoAlumno">
      
      <div class="barra-titulo">
         <button class="container-title" (click)="volverAlHome()">
            <i class="font-icon fas fa-arrow-circle-left">
            </i>
         </button>
         <h2 class="container-title title"> Solicitud de pasantía</h2>
      </div>

      <!--
<div class="sinDatos alert alert-info" role="alert">
         <strong>Atención:</strong> Usted está intentando postularse a una pasantía en la empresa {{pasantiaSeleccionada.formularioarm.sucursal.empresa.razon_social}}.
      </div>
      -->

      <div *ngIf="!alumnoSolicitante">
         <form>
            <legajo (OutputLegajo)="receiveLegajo($event)"
            (OutputBuscarLegajo)="clickBuscarLegajo($event)"></legajo>
            <!--
<button (click)="buscarLegajo()">
               <i class="fas fa-search"></i>  Buscar
            </button>
            -->
            
         </form>
      </div>
   </div>

   <!--Legajo válido: datos del alumno-->
   <div class="container container-sm" *ngIf="alumnoSolicitante">
      <div class="contenedor-datos">
         <especialidad [InputEspecialidad]="alumnoSolicitante.especialidad"></especialidad>
         <legajo [InputLegajo]="alumnoSolicitante.legajo"></legajo>
         <nombre [InputNombre]="alumnoSolicitante.nombre"></nombre>
         <apellido [InputApellido]="alumnoSolicitante.apellido"></apellido>
         <email [InputMail]="alumnoSolicitante.email" (OutputMail)="receiveMail($event)"></email>
         <telefono [InputTelefono]="alumnoSolicitante.telefono" (OutputTelefono)="receiveTelefono($event)"></telefono>
      </div>

      <!-- 
         <div class="contenedor-datos">
         <especialidad [InputEspecialidad]="alumnoSolicitante.especialidad"></especialidad>
         <legajo [InputLegajo]="alumnoSolicitante.legajo"></legajo>
         <nombre [InputNombre]="alumnoSolicitante.nombre"></nombre>
         <apellido [InputApellido]="alumnoSolicitante.apellido"></apellido>
         <email [InputMail]="alumnoSolicitante.email" (OutputMail)="receiveMail($event)"></email>
         <telefono [InputTelefono]="alumnoSolicitante.telefono" (OutputTelefono)="receiveTelefono($event)"></telefono>
      </div>
      -->
      

      <button (click)="confirmarSolicitud()">
         <i class="fas fa-check"></i>  <a id="a-confirmar" href="#openModal"> Confirmar</a>
      </button>
      <button (click)="cancelarSolicitud()">
         <i class="fas fa-times"></i> Cancelar
      </button>
   </div>


   <!-- Modal para notificar envío de solicitud-->
<div id="openModal" class="modalDialog">
      <div class="title-container">
         <h4><i class="far fa-envelope"></i>Solicitud registrada</h4>
      <br>
         <p>Se ha enviado la solicitud a la secretaría. El código de la misma es: 202</p>
         <button (click)="closeModal()">
            <a id="a-ok" href="">Ok</a>
         </button>
      </div>
</div>

   <!--Alerta legajo inválido-->
   <div *ngIf="!legajoExistente" class="sinDatos alert alert-warning" role="alert">
      El legajo ingresado no corresponde a un alumno de nuestra facultad.
   </div>
</body>