.container {
   margin-top: 25px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   background-color: #ffffff;
 }

 .background{
   background-image: url("../../../assets/img/UTN.png");
   height: 100%; 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 0px;
 }

 .container-title{
    background-color: #4D67B7;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: sans-serif;
    text-align: center;
    height: 50px;
 }


 button{
   background-color: #4D67B7;
   color: #ffffff;
   font-family: sans-serif;
   font-size: large;
   border-radius: 5px;
   border-style: none;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 4px;
   padding-bottom: 4px;
   margin-left:25px;
 }

 .busqueda{
  font-size: medium;
  display: flex;
  color: #6495ed;
}


 form{
   display: flex;
 }

 .sinDatos{
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 50px;
  font-size: larger;
  text-align: center;
 }

 form label{
   padding-top: 8px;
 }

 thead{
   background-color: #4D67B7;
   color: #ffffff;
 }

 body {
  background: url("../../../assets/img/UTN.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
