<body>
   <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/home">Pasantías FRC</a>
         <!--
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
               <a class="nav-link disabled" href="#">Login</a>
               </li>
               <li class="nav-item">
               <a class="nav-link disabled" href="#">Registrar empresa</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#" (click)="mostrarTabla()">Pasantías activas</a>
               </li>
            </ul>
         </div>
         -->
         </nav>
   </div>

   <div *ngIf="inicio">
      <!--Filtros de búsqueda-->
      <div class="container container-sm">
         <h2 class="container-title">Pasantías activas</h2>
         <form class="busqueda form-sm">
            <div class="col-sm-3 col-md-3">
               <app-especialidades (OutputEspecialidad)="receiveEspecialidad($event)"></app-especialidades>
            </div>
            <div class="col-sm-3 col-md-3">
               <app-anio-alumno (OutputAnio)="receiveAnioCursado($event)"></app-anio-alumno>
            </div>
            <div class="col-sm-3 col-md-3">
               <app-remuneracion (OutputRemuneracion)="receiveRemuneracion($event)"></app-remuneracion>
            </div>
            <button type="button" (click)="buscarPasantias()">
               Buscar
            </button>
         </form>
      </div>
       <!--Tabla pasantías-->
      <div *ngIf="sinPasantiasActivas" class="sinDatos alert alert-warning" role="alert">
         Lo sentimos, no hay pasantías activas en este momento.
      </div>
   </div>
   <div>
      <div class="container busqueda">
         <app-palabras-clave (OutputPalabra)="receivePalabrasClave($event)"></app-palabras-clave>   
         <!--
<button (click)="filtrarPasantias()">Buscar</button>  
         -->
          
      </div>
      <app-lista-pasantias
      [InputPasantias]="pasantias"
      (OutputDatos)="receiveNotificacion($event)">
      </app-lista-pasantias>
   </div>
   
</body>
<!--
<div class="container busqueda">
   <app-palabras-clave (OutputPalabra)="receivePalabrasClave($event)"></app-palabras-clave>
   <button (click)="filtrarPasantias()">Buscar</button>
</div>
-->



 