<div class="col-md-8 col-md-offset-2">
   <div class="formulario d-flex">
      <label>Perfil: </label>
      <!--Inputs destinado a outputs-->
      <input 
      *ngIf="!InputPerfil"
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idPerfilModificable" 
      aria-describedby="basic-addon3">

      <!--Input destinado a texto no modificable-->
      <input
      *ngIf="InputPerfil"
      disabled
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idPerfilNoModificable" 
      aria-describedby="basic-addon3"
      placeholder="{{InputPerfil}}"> 
   </div>
</div>
   