<body>
   <div>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" routerLink="/">Pasantías FRC</a>
         <!--
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
      -->
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
               <a class="nav-link disabled" routerLink="procesarPasantias">Gestionar pasantías</a>
               </li>
            </ul>
         </div>
         </nav>
   </div>

  
<div class="container container-sm" *ngIf="containerLegajo">
   <div class="barra-titulo">
      <button class="container-title" routerLink="/">
         <i class="font-icon fas fa-arrow-circle-left">
         </i>
      </button>
      <h2 class="container-title title">Gestionar pasantías</h2>
   </div>
   <div>
      <legajo (OutputLegajo)="receiveLegajo($event)"
         (OutputBuscarLegajo)="receiveClickBusqueda($event)"></legajo>
   </div>
</div>
<div *ngIf="!legajoExistente" class="sinDatos alert alert-warning" role="alert">
   El legajo ingresado no corresponde a nuestra facultad.
</div>

   <!--Tabla de pedidos de pasantías-->
   <div *ngIf="verTabla">
      <div class="container container-sm">
         <div class="barra-titulo">
            <button class="container-title" routerLink="/">
               <i class="font-icon fas fa-arrow-circle-left">
               </i>
            </button>
            <h2 class="container-title title">Gestionar pasantías</h2>
         </div>
         <p><strong>Legajo logueado:</strong>  {{legajo}}</p>
      </div>
      <app-pedidos-pasantia
      [InputPedidos]="pedidosPasantia"
      [InputLegajo]="legajo"
      (OutputReload)="reload($event)">
      </app-pedidos-pasantia>
      <div *ngIf="pedidosPasantia.length === 0">
         <div class="sinDatos alert alert-info" role="alert">
            No hay solicitudes pendientes para procesar.
         </div>
      </div>
   </div>
</body>