<div class="col-md-8 col-md-offset-2">
   <div class="formulario d-flex">
      <label>Apellido: </label>
      <!--Inputs destinado a outputs-->
      <input 
      *ngIf="!InputApellido"
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idApellido" 
      aria-describedby="basic-addon3">

      <!--Input destinado a texto no modificable-->
      <input
      *ngIf="InputApellido"
      disabled
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="basic-url" 
      aria-describedby="basic-addon3"
      placeholder="{{InputApellido}}"> 
   </div>
</div>
   