<div class="col-md-8 col-md-offset-2">
   <div class="formulario d-flex">
      <label>Razón social: </label>
      <!--Inputs destinado a outputs-->
      <input 
      *ngIf="!InputRazonSocial"
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idRazonSocialModificable" 
      aria-describedby="basic-addon3">

      <!--Input destinado a texto no modificable-->
      <input
      *ngIf="InputRazonSocial"
      disabled
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idRazonSocialNoModificable" 
      aria-describedby="basic-addon3"
      placeholder="{{InputRazonSocial}}"> 
   </div>
</div>
   