<div class="col-md-8 col-md-offset-2">
   <div class="formulario d-flex">
      <label>Duración: </label>
      <!--Inputs destinado a outputs-->
      <input 
      *ngIf="!InputDuracion"
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      id="idDuracionModificable" 
      aria-describedby="basic-addon3">

      <!--Input destinado a texto no modificable-->
      <input
      *ngIf="InputDuracion"
      disabled
      type="text" 
      class="ml-auto form-control 
      custom-select-sm" 
      aria-describedby="basic-addon3"
      placeholder="{{InputDuracion}} meses"> 
   </div>
</div>
   